.DS_Storevenv/
BE/python_rag_service/venv/
venv/
BE/python_rag_service/venv/
venv/
BE/python_rag_service/venv/
BE/python_rag_service/venv/
BE/python_rag_service/venv/
BE/python_rag_service/venv/
venv/
